node-red/file.json
[
    {
        "id": "828ffb7ced72b6b6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8bf955e336faef3a",
        "type": "inject",
        "z": "828ffb7ced72b6b6",
        "name": "Nova Info CLP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "555ef9a8d57ea166"
            ]
        ]
    },
    {
        "id": "fa201ce19e7becbd",
        "type": "http request",
        "z": "828ffb7ced72b6b6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:8080/iot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "be82f9a418007c4f"
            ]
        ]
    },
    {
        "id": "555ef9a8d57ea166",
        "type": "template",
        "z": "828ffb7ced72b6b6",
        "name": "Mensagem",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n        \"Sensor\": \"Sensor Node-Red\",\n        \"Codigo\": \"SNS_CAP_05\",\n        \"Status\": false\n}",
        "output": "json",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "fa201ce19e7becbd"
            ]
        ]
    },
    {
        "id": "be82f9a418007c4f",
        "type": "debug",
        "z": "828ffb7ced72b6b6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    }
]